<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<div th:insert="../static/headLinks.html"></div>
    <title>Home</title>
</head>
<body>
<div th:insert="../static/headerNoRegister.html"></div>
<div class="partieIndex">
<h2>Bio C Cool</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus lacus arcu, mollis laoreet augue porttitor vitae. Phasellus ac sollicitudin arcu. Ut dolor ante, hendrerit ut nunc facilisis, venenatis commodo lectus. Aenean scelerisque lacinia magna,
    eget ultricies sapien sollicitudin eget. Donec eleifend enim sed quam egestas tincidunt. Praesent sollicitudin, est vel tristique tempus, mauris dolor dignissim sem, consequat luctus nisl est a tellus. Donec sit amet nisi sit amet tellus varius congue sit amet vel turpis.

    Donec ac urna nec ligula imperdiet commodo. Etiam odio ante, dictum at hendrerit sed, fermentum nec nibh. Pellentesque convallis quis dolor quis commodo. Vivamus eu consequat augue. Donec id scelerisque odio, et pharetra turpis. Donec vitae quam augue. Suspendisse venenatis
    elementum libero eu egestas. Etiam vestibulum sapien vel fringilla pretium. Donec congue est id aliquam sodales. Nullam eget tincidunt justo. Sed consequat vel massa et ullamcorper. Vivamus molestie ullamcorper nisi eu interdum. Aliquam placerat volutpat diam, in tincidunt
    eros fringilla sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam tempor sollicitudin ante. Maecenas eu nunc et mauris sollicitudin commodo quis nec quam.

    Curabitur interdum nunc sit amet leo semper laoreet. Ut cursus hendrerit dui, eu varius ante feugiat ac. Duis sem nulla, iaculis sed augue non, viverra ornare dolor. Nam id leo malesuada, viverra felis eget, ultrices quam. Nulla ut malesuada urna. Pellentesque venenatis
    quam nisl, sit amet pretium neque laoreet at. Ut ligula leo, porttitor eget feugiat facilisis, tristique a quam. Curabitur rutrum justo non lectus scelerisque, at ultricies mi pretium.
</p>
</div>
<div th:insert="../static/footer.html"></div>

</body>
</html>